/*** sectioning elements ***/

body {

}

header {

}

main {

}

footer {

}

nav {

}

section {

}

aside {

}




/**** content styles ***/

h1 {
  text-align: center;
  font-size: 42px;
}

h2 {
  text-align: center;
  font-size: 22px;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p.link {

}



blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img.mascot{
  float: right;
}

img.center{
  text-align: center;
}

/*** link styles ***/

a:link {
  color: #222;
}

a:visited {
  color: #222;
}

a:hover {

}

a:active {

}


/*=======================
Odin Override
=========================*/
.navbar {
  background-color: lightgray;

}

.owl-carousel{
  max-width: 100%;
}

.navbar-menu{
  width: 100%;
}
